body {
	background-color: #ccdfe3;
	width:1600px;
}

#head, h1 {
	font-family: arial;
	text-align: center;
	color: #4c73b4;
	font-size: 40px;
}

#head {
	background-image:
		url("https://www.visitcopenhagen.com/sites/default/files/styles/galleries_ratio/public/asp/visitcopenhagen/Visit-sites/1024x576/Bikes/dronning-louises-bro_cykler_martinheiberg.jpg?itok=N6-5YNdd");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height:600px;
}

#jobike {
	font-family: arial;
	text-align: center;
	color: #b63f39;
	font-style: italic;
	font-size: 60px;
}

.menublock {
	width: 100%;
	margin-left: 25%;
}

#homebackground {
	background-image:
		url("https://grist.files.wordpress.com/2016/02/milan-bicycle.png?w=1024&h=576&crop=1");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1260px;
	width:1260px;
}

#sidemenu {
	margin-top:50px;
	padding-top: 20px;
	float: right;
	position: absolute;
	width: 10%;
	height: 600px;
	background-color: #ffcb84;
}

.sideline {
	margin-left: 20px;
	font-family: arial;
	text-align: left;
	color: #5f6f75;
	font-size: 12pt;
}

.menu {
	border: 2px solid #5f6f75;
	position: relative;
	left-padding: 25%;
	float: left;
	display: inline-block;
	text-align: center;
	width: 10%;
	font-size: 14pt;
	font-family: arial;
	color: #5f6f75;
}