<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contacts</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyles.css}">
</head>
<body>

<h1> JoShop Info </h1>

<div style="margin-top: 15px;">
<h2 style="font-size: 15px;"><span style="color: #ff0000; font-size: large;">JoBike Shop </span></h2>
<p><span style="font-size: medium;">Via Bosco Monastico n°11 - Fossa (MO)</span></p>
<p><span style="font-size: medium;">Tel. +23 019 666363523 </span></p>
<p><span style="font-size: medium;">e-Mail : <a href="mailto:info@jobikeshop.com">info@jobikeshop.com</a></span></p>
<p><span style="font-size: medium;">P.I. 012366589</span></p>
<p><span style="text-decoration: underline; color: #ff0000;"><span style="font-size: medium;"><strong><br></strong></span></span></p>
</div>

<iframe 
 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2825.0257347765346!2d11.032753615448117!3d44.92281217742481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477f9a72595e929b%3A0x726c2abf7da19ea8!2sVia+Bosco+Monastico%2C+11%2C+41033+Fossa+MO!5e0!3m2!1sit!2sit!4v1547740220476" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
 </iframe>
		
		
	<div>
	<fieldset style="margin-top: 30px;">
		<h2 style="color: purple" > Orari Negozio (Perchè Sele dorme o va a correre, almeno dice...)  </h2>
		<p> 13:00 - 17:00 </p>
		<p><b>  Festivi siamo chiusi..figurati se apriamo!!!</b>   </p>
		<h3><b> Accettiamo tutti tranne: </b></h3>
		<ul style="color: blue" >
			<li>Bambini che urlano, piangono...oppure prendiamo a schiaffoni lui e pure te</li>
			<li>Anziani che urlano, parlano e cercano di contrattare</li>
			<li>Umarels e venditori di rose (se non parla dialetto romanaccio)</li>
			<li>I cani che non fanno cacca a casa loro, a parte se sono belli, i topi li lasciamo ai cinesi</li>
			<li>Persone vestite da calamari</li>
			<li>Chi fa le scorregge</li>
			<li>Chi rompe se non trova più il portafogli, ve lo freghiamo noi..quindi inutile fare denuncia</li>
			<li>Astemi o gente poco allamano</li>
			<li>Chi governa e i sostenitori di Trump o Salvini o la Meloni</li>	
			<li>Chi non conosce Moravia o Antonella Zucchino...</li>
		</ul>
		</fieldset>
	</div>

<div>
<h3>Accettiamo tutti i tipi di pagamenti che non emettono fattura:</h3>
<ul style="color: green">
<li> Contanti in nero</li>
<li> Organi </li>
<li> Pagameni in natura </li>
<li> Valigette </li>
<li> Lauree </li>
<li> Documenti falsi </li>
<li> Droga </li>
</ul>

</div>

</body>
</html>