<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Countries Manager</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyles.css}">
</head>
<body>
	<h1 th:if="${region.name.isEmpty()}">No country with region id <span th:text="${region.id}">X</span></h1>

	<div th:unless="${region.name.isEmpty()}">
		<h1>Countries in <span th:text="${region.name}">region</span></h1>

		<table>
			<tr>
				<th>ID</th>
				<th>NAME</th>
			</tr>
			<tr th:each="country: ${countries}">
				<td th:text="${country.id}">...</td>
				<td th:text="${country.name}">...</td>
			</tr>
		</table>
	
		<h2>Save country in <span th:text="${region.name}">this region</span>:</h2>
		<form action="/countries/save">
			<label>Country id: <input name="cid" required="required"></label>
			<br />
			<label>Country name: <input name="name" required="required"></label>
			<input type="hidden" name="rid" th:value="${region.id}" />
			<div>
				<button>Save</button>
			</div>
		</form>
	
		<h2>Delete country in <span th:text="${region.name}">this region</span>:</h2>
		<form action="/countries/delete">
			<select name="cid">
				<option th:each="cur: ${countries}" th:value="${cur.id}"
					th:text="${cur.name}">...</option>
			</select>
			<input type="hidden" name="rid" id="regionId" th:value="${region.id}" />
			<div>
				<button>Delete</button>
			</div>
		</form>
	</div>
</body>
</html>